$Permanent-Marker: 'Permanent Marker', cursive;
$Montserrat: 'Montserrat', sans-serif;

$blue: #7711DD;
$light-blue: #962EFF;
$light-green: #1BDBC4;
$white: #fff;
$black: #1C1C1D;
$gray: #474A57;
$orange: #FA6648;
$dark-orange: #F95A2C;
$light-pink: #FFB0BC;
$dark-yellow: #FFBD12;
