@import "vars";
@import "libs";
@import "fonts";
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header__block {
    background: $blue;
    padding: 0 5px;
}
.header__block__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    .header__block__social {
        a {
            margin: 10px;
        }
        img {
            padding-top: 15px;
        }
    }
}
.header__block__about__text {
    display: flex;
    justify-content: space-between;
    .header__block__text {
        max-width: 590px;
        margin: 0 auto;
        margin-top: 163px;
        h1 {
            font-family: $Permanent-Marker;
            font-size: 70px;
            color: $white;
            line-height: 75px;
            font-weight: 400;
        }
        p {
            font-family: $Montserrat;
            font-size: 18px;
            color: $white;
            line-height: 27px;
            font-weight: 400;
        }
        button {
            width: 189px;
            height: 47px;
            background: $white;
            border: 1px solid $black;
            border-radius: 10px;
            box-shadow: 0px 4px 0px #202020;
            font-family: $Montserrat;
            font-weight: 900;
            font-size: 16px;
            color: $black;
            cursor: pointer;
            outline: none;
            img {
                position: relative;
                top: 5px;
                padding-right: 10px;
            }
        }
    }
    .header__block__mobeli {
        position: relative;
        .mobile__block {
            margin-right: 173px;
            position: relative;
            z-index: 5;
        }
        .mobile__block__diagram {
            position: absolute;
            top: 130px;
            right: 237px;
            z-index: 6;
            max-width: 100%;
        }
        .mobile__block__info1 {
            position: absolute;
            top: 310px;
            right: 410px;
            width: 145px;
            height: 132px;
            background: $light-green;
            text-align: center;
            transform: rotate(3deg);
            border: 2.11413px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 2.11413px 0px #202020;
            border-radius: 10px;
            padding-top: 40px;
            z-index: 6;
            .mobile__block__info__text1 {
                font-family: $Montserrat;
                font-weight: 700;
                color: $black;
                font-size: 26px;
                line-height: 26px;
                margin: 0;
                padding: 0;
            }
            .mobile__block__info__text2 {
                font-family: $Montserrat;
                font-weight: 400;
                color: $black;
                font-size: 14px;
                line-height: 18px;
                margin: 0;
                padding: 0;
            }
        }
        .mobile__block__info2 {
            position: absolute;
            top: 317px;
            right: 256px;
            width: 145px;
            height: 132px;
            background: $blue;
            text-align: center;
            transform: rotate(3deg);
            border: 2.11413px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 2.11413px 0px #202020;
            border-radius: 10px;
            padding-top: 40px;
            z-index: 6;
            .mobile__block__info__text3 {
                font-family: $Montserrat;
                font-weight: 700;
                color: $white;
                font-size: 26px;
                line-height: 26px;
                margin: 0;
                padding: 0;
            }
            .mobile__block__info__text4 {
                font-family: $Montserrat;
                font-weight: 400;
                color: $white;
                font-size: 14px;
                line-height: 18px;
                margin: 0;
                padding: 0;
            }
        }
        .mobile__block__info3 {
            position: absolute;
            top: 460px;
            right: 418px;
            width: 145px;
            height: 132px;
            background: $blue;
            text-align: center;
            transform: rotate(3deg);
            border: 2.11413px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 2.11413px 0px #202020;
            border-radius: 10px;
            padding-top: 40px;
            z-index: 6;
            .mobile__block__info__text5 {
                font-family: $Montserrat;
                font-weight: 700;
                color: $white;
                font-size: 26px;
                line-height: 26px;
                margin: 0;
                padding: 0;
            }
            .mobile__block__info__text6 {
                font-family: $Montserrat;
                font-weight: 400;
                color: $white;
                font-size: 14px;
                line-height: 18px;
                margin: 0;
                padding: 0;
            }
        }
        .mobile__block__info4 {
            position: absolute;
            top: 467px;
            right: 262px;
            width: 145px;
            height: 132px;
            background: $light-green;
            text-align: center;
            transform: rotate(3deg);
            border: 2.11413px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 2.11413px 0px #202020;
            border-radius: 10px;
            padding-top: 40px;
            z-index: 6;
            .mobile__block__info__text7 {
                font-family: $Montserrat;
                font-weight: 700;
                color: $black;
                font-size: 26px;
                line-height: 26px;
                margin: 0;
                padding: 0;
            }
            .mobile__block__info__text8 {
                font-family: $Montserrat;
                font-weight: 400;
                color: $black;
                font-size: 14px;
                line-height: 18px;
                margin: 0;
                padding: 0;
            }
        }
        .mobile__block__btn {
            position: absolute;
            top: 640px;
            right: 263px;
            width: 315px;
            height: 54px;
            background: $white;
            border: 1.05706px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 4.22825px 0px #202020;
            border-radius: 10px;
            transform: rotate(3deg);
            text-align: center;
            z-index: 6;
            .mobile__block__info__text9 {
                font-family: $Montserrat;
                font-size: 17px;
                font-weight: 900;
                color: $black;
            }
        }
        .mobile__block__cloud1 {
            position: absolute;
            z-index: 1;
            top: -43px;
            left: -110px;
        }
        .mobile__block__cloud2 {
            position: absolute;
            z-index: 1;
            top: 250px;
            right: 83px;
        }
        .mobile__block__cloud3 {
            position: absolute;
            z-index: 6;
            bottom: 180px;
            left: -76px;
        }
        .mobile__block__cloud4 {
            position: absolute;
            z-index: 1;
            bottom: 4px;
            left: -193px;
        }
        .mobile__block__cloud5 {
            position: absolute;
            z-index: 6;
            bottom: 4px;
            right: 0;
        }
    }
}
////////////////////////////// about block
.about__block {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 5px;
    padding-right: 5px;
    .about__block__title {
        text-align: center;
        text-transform: uppercase;
        font-family: $Permanent-Marker;
        font-weight: 400;
        font-size: 45px;
        color: $black;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .about__block__text {
        max-width: 501px;
        width: 100%;
        text-align: center;
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 60px;
    }
}
.about__block__slider {
    display: flex;
    justify-content: space-between;
}
.about__block__slider__block1 {
    max-width: 340px;
    height: 183px;
    width: 100%;
    background: $light-pink;
    box-shadow: 0px 4px 0px #202020;
    border-radius: 10px;
    border: 2px solid #1C1C1D;
    margin: 0 15px;
    .about__block__slider__block1__text {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        .about__block__slider__block1__img {
            max-width: 87px;
            width: 100%;
            height: 73px;
            background: $white;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            margin-left: 20px;
            margin-right: 22px;
            text-align: center;
            img {
                margin-top: 25px;
                margin-left: 21px;
            }
        }
        h2 {
            font-family: $Montserrat;
            font-size: 20px;
            color: $white;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    }
    p {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16p;
        color: $white;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        margin-top: 16px;
    }
}
.about__block__slider__block2 {
    max-width: 340px;
    height: 183px;
    width: 100%;
    background: $orange;
    box-shadow: 0px 4px 0px #202020;
    border-radius: 10px;
    border: 2px solid #1C1C1D;
    margin: 0 15px;
    .about__block__slider__block2__text {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        .about__block__slider__block2__img {
            max-width: 87px;
            width: 100%;
            height: 73px;
            background: $white;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            margin-left: 20px;
            margin-right: 22px;
            text-align: center;
            img {
                margin-top: 25px;
                margin-left: 21px;
            }
        }
        h2 {
            font-family: $Montserrat;
            font-size: 20px;
            color: $white;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    }
    p {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16p;
        color: $white;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        margin-top: 16px;
    }
}

.about__block__slider__block3 {
    max-width: 340px;
    height: 183px;
    width: 100%;
    background: $dark-yellow;
    box-shadow: 0px 4px 0px #202020;
    border-radius: 10px;
    border: 2px solid #1C1C1D;
    margin: 0 15px;
    .about__block__slider__block3__text {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        .about__block__slider__block3__img {
            max-width: 87px;
            width: 100%;
            height: 73px;
            background: $white;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            margin-left: 20px;
            margin-right: 22px;
            text-align: center;
            img {
                margin-top: 25px;
                margin-left: 21px;
            }
        }
        h2 {
            font-family: $Montserrat;
            font-size: 20px;
            color: $white;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    }
    p {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16p;
        color: $white;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        margin-top: 16px;
    }
}
.slick-dots {
    position: absolute;
    list-style: none;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    left: 49%;
    right: auto;
    bottom: -55px;
    transform: translate(-50%, -50%);
    li {
        margin: 0 10px;
    }
    button {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: $white;
        outline: none;
    }
    .slick-active {
        button {
            background: $dark-yellow;
        }
    }
}


@import "media";


// $Permanent-Marker: 'Permanent Marker', cursive;
// $Montserrat: 'Montserrat', sans-serif;

// $blue: #7711DD;
// $light-blue: #962EFF;
// $light-green: #1BDBC4;
// $white: #fff;
// $black: #1C1C1D;
// $gray: #474A57;
// $orange: #FA6648;
// $dark-orange: #F95A2C;
// $light-pink: #FFB0BC;
// $dark-yellow: #FFBD12;
