@import "vars";
@import "libs";
@import "fonts";
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header__block {
    background: $blue;
    padding: 0 5px;
}
.header__block__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    .header__block__social {
        a {
            margin: 10px;
        }
        img {
            padding-top: 15px;
        }
    }
}
.header__block__about__text {
    display: flex;
    justify-content: space-between;
    .header__block__text {
        max-width: 590px;
        margin: 0 auto;
        margin-top: 163px;
        h1 {
            font-family: $Permanent-Marker;
            font-size: 70px;
            color: $white;
            line-height: 75px;
            font-weight: 400;
        }
        p {
            font-family: $Montserrat;
            font-size: 18px;
            color: $white;
            line-height: 27px;
            font-weight: 400;
        }
        button {
            width: 189px;
            height: 47px;
            background: $white;
            border: 1px solid $black;
            border-radius: 10px;
            box-shadow: 0px 4px 0px #202020;
            font-family: $Montserrat;
            font-weight: 900;
            font-size: 16px;
            color: $black;
            cursor: pointer;
            outline: none;
            img {
                position: relative;
                top: 5px;
                padding-right: 10px;
            }
        }
    }
    .header__block__mobeli {
        position: relative;
        .mobile__block {
            margin-right: 173px;
            position: relative;
            z-index: 5;
        }
        .mobile__block__diagram {
            position: absolute;
            top: 130px;
            right: 237px;
            z-index: 6;
            max-width: 100%;
        }
        .mobile__block__info1 {
            position: absolute;
            top: 310px;
            right: 410px;
            width: 145px;
            height: 132px;
            background: $light-green;
            text-align: center;
            transform: rotate(3deg);
            border: 2.11413px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 2.11413px 0px #202020;
            border-radius: 10px;
            padding-top: 40px;
            z-index: 6;
            .mobile__block__info__text1 {
                font-family: $Montserrat;
                font-weight: 700;
                color: $black;
                font-size: 26px;
                line-height: 26px;
                margin: 0;
                padding: 0;
            }
            .mobile__block__info__text2 {
                font-family: $Montserrat;
                font-weight: 400;
                color: $black;
                font-size: 14px;
                line-height: 18px;
                margin: 0;
                padding: 0;
            }
        }
        .mobile__block__info2 {
            position: absolute;
            top: 317px;
            right: 256px;
            width: 145px;
            height: 132px;
            background: $blue;
            text-align: center;
            transform: rotate(3deg);
            border: 2.11413px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 2.11413px 0px #202020;
            border-radius: 10px;
            padding-top: 40px;
            z-index: 6;
            .mobile__block__info__text3 {
                font-family: $Montserrat;
                font-weight: 700;
                color: $white;
                font-size: 26px;
                line-height: 26px;
                margin: 0;
                padding: 0;
            }
            .mobile__block__info__text4 {
                font-family: $Montserrat;
                font-weight: 400;
                color: $white;
                font-size: 14px;
                line-height: 18px;
                margin: 0;
                padding: 0;
            }
        }
        .mobile__block__info3 {
            position: absolute;
            top: 460px;
            right: 418px;
            width: 145px;
            height: 132px;
            background: $blue;
            text-align: center;
            transform: rotate(3deg);
            border: 2.11413px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 2.11413px 0px #202020;
            border-radius: 10px;
            padding-top: 40px;
            z-index: 6;
            .mobile__block__info__text5 {
                font-family: $Montserrat;
                font-weight: 700;
                color: $white;
                font-size: 26px;
                line-height: 26px;
                margin: 0;
                padding: 0;
            }
            .mobile__block__info__text6 {
                font-family: $Montserrat;
                font-weight: 400;
                color: $white;
                font-size: 14px;
                line-height: 18px;
                margin: 0;
                padding: 0;
            }
        }
        .mobile__block__info4 {
            position: absolute;
            top: 467px;
            right: 262px;
            width: 145px;
            height: 132px;
            background: $light-green;
            text-align: center;
            transform: rotate(3deg);
            border: 2.11413px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 2.11413px 0px #202020;
            border-radius: 10px;
            padding-top: 40px;
            z-index: 6;
            .mobile__block__info__text7 {
                font-family: $Montserrat;
                font-weight: 700;
                color: $black;
                font-size: 26px;
                line-height: 26px;
                margin: 0;
                padding: 0;
            }
            .mobile__block__info__text8 {
                font-family: $Montserrat;
                font-weight: 400;
                color: $black;
                font-size: 14px;
                line-height: 18px;
                margin: 0;
                padding: 0;
            }
        }
        .mobile__block__btn {
            position: absolute;
            top: 640px;
            right: 263px;
            width: 315px;
            height: 54px;
            background: $white;
            border: 1.05706px solid #1C1C1D;
            box-sizing: border-box;
            box-shadow: 0px 4.22825px 0px #202020;
            border-radius: 10px;
            transform: rotate(3deg);
            text-align: center;
            z-index: 6;
            .mobile__block__info__text9 {
                font-family: $Montserrat;
                font-size: 17px;
                font-weight: 900;
                color: $black;
            }
        }
        .mobile__block__cloud1 {
            position: absolute;
            z-index: 1;
            top: -43px;
            left: -110px;
        }
        .mobile__block__cloud2 {
            position: absolute;
            z-index: 1;
            top: 250px;
            right: 83px;
        }
        .mobile__block__cloud3 {
            position: absolute;
            z-index: 6;
            bottom: 180px;
            left: -76px;
        }
        .mobile__block__cloud4 {
            position: absolute;
            z-index: 1;
            bottom: 4px;
            left: -193px;
        }
        .mobile__block__cloud5 {
            position: absolute;
            z-index: 6;
            bottom: 4px;
            right: 0;
        }
    }
}
////////////////////////////// about block
.about__block {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 5px;
    padding-right: 5px;
    .about__block__title {
        text-align: center;
        text-transform: uppercase;
        font-family: $Permanent-Marker;
        font-weight: 400;
        font-size: 45px;
        color: $black;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .about__block__text {
        max-width: 501px;
        width: 100%;
        text-align: center;
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 60px;
    }
}
.about__block__slider {
    display: flex;
    justify-content: space-between;
}
.about__block__slider__block1 {
    max-width: 340px;
    height: 183px;
    width: 100%;
    background: $light-pink;
    box-shadow: 0px 4px 0px #202020;
    border-radius: 10px;
    border: 2px solid #1C1C1D;
    margin: 0 15px;
    .about__block__slider__block1__text {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        .about__block__slider__block1__img {
            max-width: 87px;
            width: 100%;
            height: 73px;
            background: $white;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            margin-left: 20px;
            margin-right: 22px;
            text-align: center;
            img {
                margin-top: 25px;
                margin-left: 21px;
            }
        }
        h2 {
            font-family: $Montserrat;
            font-size: 20px;
            color: $white;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    }
    p {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16p;
        color: $white;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        margin-top: 16px;
    }
}
.about__block__slider__block2 {
    max-width: 340px;
    height: 183px;
    width: 100%;
    background: $orange;
    box-shadow: 0px 4px 0px #202020;
    border-radius: 10px;
    border: 2px solid #1C1C1D;
    margin: 0 15px;
    .about__block__slider__block2__text {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        .about__block__slider__block2__img {
            max-width: 87px;
            width: 100%;
            height: 73px;
            background: $white;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            margin-left: 20px;
            margin-right: 22px;
            text-align: center;
            img {
                margin-top: 25px;
                margin-left: 21px;
            }
        }
        h2 {
            font-family: $Montserrat;
            font-size: 20px;
            color: $white;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    }
    p {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16p;
        color: $white;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        margin-top: 16px;
    }
}

.about__block__slider__block3 {
    max-width: 340px;
    height: 183px;
    width: 100%;
    background: $dark-yellow;
    box-shadow: 0px 4px 0px #202020;
    border-radius: 10px;
    border: 2px solid #1C1C1D;
    margin: 0 15px;
    .about__block__slider__block3__text {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        .about__block__slider__block3__img {
            max-width: 87px;
            width: 100%;
            height: 73px;
            background: $white;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            margin-left: 20px;
            margin-right: 22px;
            text-align: center;
            img {
                margin-top: 25px;
                margin-left: 21px;
            }
        }
        h2 {
            font-family: $Montserrat;
            font-size: 20px;
            color: $white;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    }
    p {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16p;
        color: $white;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        margin-top: 16px;
    }
}
.slick-dots {
    position: absolute;
    list-style: none;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    left: 49%;
    right: auto;
    bottom: -55px;
    transform: translate(-50%, -50%);
    li {
        margin: 0 10px;
    }
    button {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: $white;
        outline: none;
    }
    .slick-active {
        button {
            background: $dark-yellow;
        }
    }
}
////////////////////////////// watch
.about__watch {
    padding: 0 10px;
    background: $light-blue;
    display: flex;
    justify-content: space-between;
}
.about__watch__text {
    margin: 0 auto;
    margin-top: 164px;
    margin-bottom: 164px;
    h2 {
        padding: 0;
        margin: 0;
        font-family: $Permanent-Marker;
        font-weight: 400;
        font-size: 45px;
        color: $white;
        max-width: 483px;
        width: 100%;
        margin-bottom: 25px;
    }
    p {
        font-family: $Montserrat;
        font-size: 18px;
        font-weight: 400;
        color: $white;
        margin: 0;
        padding: 0;
        line-height: 27px;
        margin-bottom: 50px;
        max-width: 483px;
        width: 100%;
    }
    .about__watch__text__input {
        input {
            max-width: 277px;
            width: 100%;
            height: 50px;
            box-shadow: 0px 2px 0px #202020;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            padding-left: 20px;  
        }
        button {
            max-width: 189px;
            width: 100%;
            height: 48px;
            color: $white;
            font-family: $Montserrat;
            font-size: 16px;
            font-weight: 900;
            background: $dark-yellow;
            box-shadow: 0px 4px 0px #202020;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            margin-left: 10px;
            outline: none;
            cursor: pointer;
        }
    }
}
.about__watch__img {
    margin-top: 71px;
    img {
        width: 100%;
    }
}
////////////////////////////// stories
.about__stories {
    margin-bottom: 120px;
    h2 {
        margin: 0;
        padding: 0;
        margin-top: 150px;
        font-family: $Permanent-Marker;
        font-weight: 400;
        font-size: 45px;
        color: $black;
        margin-bottom: 58px;
        text-align: center;
    }
}
.about__stories__blocks {
    display: flex;
    justify-content: space-around;
    .about__stories__blocks__block1 {
        margin: 0 5px;
        h3 {
            margin: 0;
            padding: 0;
            font-family: $Montserrat;
            font-size: 24px;
            color: $black;
            font-weight: 700;
            margin-top: 24px;
            margin-bottom: 5px;
        }
        p {
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
            color: $gray;
            font-family: $Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            max-width: 374px;
            width: 100%;
        }
        .about__stories__blocks__data {
            margin: 0;
            padding: 0;
            color: $black;
            font-family: $Montserrat;
            font-weight: 500;
            font-size: 18px;
        }
        .about__stories__blocks__img {
            max-width: 380px;
            width: 100%;
            height: 265px;
            background: $light-green;
            box-shadow: 0px 8px 0px #202020;
            border-radius: 10px;
            border: 2px solid #1C1C1D;
            text-align: center;
            img {
                margin-top: 110px;
            }
        }
    }
    .about__stories__blocks__block2 {
        margin: 0 5px;
        h3 {
            margin: 0;
            padding: 0;
            font-family: $Montserrat;
            font-size: 24px;
            color: $black;
            font-weight: 700;
            margin-top: 24px;
            margin-bottom: 5px;
        }
        p {
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
            color: $gray;
            font-family: $Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            max-width: 374px;
            width: 100%;
        }
        .about__stories__blocks__data {
            margin: 0;
            padding: 0;
            color: $black;
            font-family: $Montserrat;
            font-weight: 500;
            font-size: 18px;
        }
        .about__stories__blocks__img {
            max-width: 380px;
            width: 100%;
            height: 265px;
            background: $light-blue;
            box-shadow: 0px 8px 0px #202020;
            border-radius: 10px;
            border: 2px solid #1C1C1D;
            text-align: center;
            img {
                margin-top: 110px;
            }
        }
    }
    .about__stories__blocks__block3 {
        margin: 0 5px;
        h3 {
            margin: 0;
            padding: 0;
            font-family: $Montserrat;
            font-size: 24px;
            color: $black;
            font-weight: 700;
            margin-top: 24px;
            margin-bottom: 5px;
        }
        p {
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
            color: $gray;
            font-family: $Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            max-width: 374px;
            width: 100%;
        }
        .about__stories__blocks__data {
            margin: 0;
            padding: 0;
            color: $black;
            font-family: $Montserrat;
            font-weight: 500;
            font-size: 18px;
        }
        .about__stories__blocks__img {
            max-width: 380px;
            width: 100%;
            height: 265px;
            background: $light-green;
            box-shadow: 0px 8px 0px #202020;
            border-radius: 10px;
            border: 2px solid #1C1C1D;
            text-align: center;
            img {
                margin-top: 110px;
            }
        }
    }
}
////////////////////////////// tariff
.about__tariff {
    margin-top: 80px;
    margin-bottom: 80px;
    p {
        font-family: $Montserrat;
        font-size: 18px;
        font-weight: 500;
        color: $gray;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    h2 {
        margin: 0;
        padding: 0;
        font-family: $Permanent-Marker;
        font-weight: 400;
        color: $black;
        font-size: 45px;
        margin-bottom: 60px;
        text-align: center;
    }
    .about__tariff__bt {
        text-align: center;
        margin-bottom: 50px;
        button {
            padding: 14px 30px;
            border-radius: 30px;
            background: $white;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            font-family: $Montserrat;
            color: $black;
            font-weight: 700;
        }
    }
}
.about__tariff__blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    p {
        text-align: left;
        margin: 0;
        padding: 0;
        font-family: $Montserrat;
        font-size: 18px;
        font-weight: 500;
        color: $black;
        margin-bottom: 10px;
    }
    h3 {
        margin: 0;
        padding: 0;
        font-family: $Montserrat;
        font-weight: 600;
        font-size: 30px;
        color: $black;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    button {
        max-width: 217px;
        width: 100%;
        height: 51px;
        background: $white;
        box-shadow: 0px 4px 0px #202020;
        border-radius: 10px;
        border: 1px solid #1C1C1D;
        font-family: $Montserrat;
        font-weight: 900;
        font-size: 16px;
        color: $black;
        cursor: pointer;
        outline: none;
        margin-top: 40px;
    }
    .about__tariff__blocks__block1 {
        max-width: 278px;
        width: 100%;
        height: 411px;
        background: $dark-orange;
        box-shadow: 0px 8px 0px #202020;
        border-radius: 10px;
        border: 2px solid #1C1C1D;
        padding-top: 30px;
        padding-left: 30px;
        margin: 20px 10px;
    }
    .about__tariff__blocks__block2 {
        max-width: 278px;
        width: 100%;
        height: 411px;
        background: $light-green;
        box-shadow: 0px 8px 0px #202020;
        border-radius: 10px;
        border: 2px solid #1C1C1D;
        padding-top: 30px;
        padding-left: 30px;
    }
    .about__tariff__blocks__block3 {
        max-width: 278px;
        width: 100%;
        height: 411px;
        background: $light-blue;
        box-shadow: 0px 8px 0px #202020;
        border-radius: 10px;
        border: 2px solid #1C1C1D;
        padding-top: 30px;
        padding-left: 30px;
        margin: 20px 10px;
    }
    .about__tariff__blocks__block4 {
        max-width: 278px;
        width: 100%;
        height: 411px;
        background: $dark-yellow;
        box-shadow: 0px 8px 0px #202020;
        border-radius: 10px;
        border: 2px solid #1C1C1D;
        padding-top: 30px;
        padding-left: 30px;
    }
}
////////////////////////////// sending form
.sending__form {
    margin-top: 80px;
    margin-bottom: 80px;
}
.sending_form__blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .sending__form__text {
        padding: 0 5px;
        h2 {
            margin: 0;
            padding: 0;
            margin-top: 196px;
            font-family: $Permanent-Marker;
            font-weight: 400;
            font-size: 45px;
            max-width: 400px;
            width: 100%;
            margin-bottom: 25px;
            color: $black;
        }
        p {
            margin: 0;
            padding: 0;
            color: $gray;
            font-family: $Montserrat;
            font-weight: 400;
            font-size: 18px;
            max-width: 390px;
            width: 100%;
            line-height: 27px;
            margin-bottom: 66px;
        }
        .sending__form__bt {
            button {
                max-width: 189px;
                width: 100%;
                height: 46px;
                background: $orange;
                box-shadow: 0px 4px 0px #202020;
                border-radius: 10px;
                border: 1px solid #1C1C1D;
                font-family: $Montserrat;
                font-weight: 900;
                color: $white;
                font-size: 16px;
                margin-top: 20px;
                img {
                    padding-right: 10px;
                    position: relative;
                    top: 5px;
                }
            }
        }
    }
    .sending__form__input {
        display: flex;
        flex-direction: column;
        max-width: 483px;
        width: 100%;
        height: 450px;
        box-shadow: 0px 8px 0px #202020;
        border-radius: 10px;
        border: 2px solid #1C1C1D;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 150px;
        h3 {
            margin: 0;
            padding: 0;
            font-family: $Montserrat;
            font-weight: 700;
            font-size: 24px;
            color: $black;
            margin-top: 40px;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        input {
            padding-left: 20px;
            margin-bottom: 25px;
            height: 50px;
            box-shadow: 0px 2px 0px #202020;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            outline: none;
        }
        button {
            background: $orange;
            font-family: $Montserrat;
            font-weight: 900;
            font-size: 16px;     
            color: $white;
            height: 50px;   
            box-shadow: 0px 4px 0px #202020;
            border-radius: 10px;
            border: 1px solid #1C1C1D;
            cursor: pointer;
            outline: none;
        }
    }
}
////////////////////////////// footer
.footer {
    padding: 25px 0;
    background: $blue;
    h2 {
        font-family: $Permanent-Marker;
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        a {
            text-decoration: none;
            color: $white;
        }
    }
}



@import "media";


// $Permanent-Marker: 'Permanent Marker', cursive;
// $Montserrat: 'Montserrat', sans-serif;

// $blue: #7711DD;
// $light-blue: #962EFF;
// $light-green: #1BDBC4;
// $white: #fff;
// $black: #1C1C1D;
// $gray: #474A57;
// $orange: #FA6648;
// $dark-orange: #F95A2C;
// $light-pink: #FFB0BC;
// $dark-yellow: #FFBD12;
